*, *::after, *::before {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.0rem;
  line-height: 1.5rem;
  /* background-color: blueviolet; */
}
.negrita {
  font-weight: bold;
}
